<!DOCTYPE html>
<html>
  <head>
    <title>Templateintegration</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- CSS -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link href="vendor/bootstrap/css/bootstrap.css">
    <link href="vendor/font/font-awesome/css/font-awesome.min.css">
    <link href="vendor/font/elegant-font/code/style.css">
    <link href="vendor/css/animate.css">
    <link href="vendor/css/magnific-popup.css">
    <link href="vendor/ultimate-flat-social-icons/ultm-css/ultm.css">
    <link href="vendor/css/form-elements.css">
    <link href="vendor/css/style.css">
    <link href="vendor/css/media-queries.css">
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="vendor/stylesheet/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="vendor/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="vendor/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="vendor/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="vendor/ico/apple-touch-icon-57-precomposed.png">
    <!-- Javascript -->
    <script src="vendor/js/jquery-1.11.1.min.js"></script>
    <script src="vendor/js/jquery.backstretch.min.js"></script>
    <script src="vendor/js/jquery.magnific-popup.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/js/wow.min.js"></script>
    <script src="vendor/js/retina-1.1.0.min.js"></script>
    <script src="vendor/js/waypoints.min.js"></script>
    <script src="vendor/js/scripts.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
